<footer>
	<section class="dark">
	<h3>Follow us!</h3>
	<ul class="sociallinks"> 
	  <li>
	    <a href="http://www.facebook.com/{{ site.facebook_username }}">
	      <i class="fab fa-facebook fa-2x icon"></i>
	    </a>
	  </li>
	  <li>
	    <a href="http://www.twitter.com/{{ site.twitter_username }}">
	      <i class="fab fa-twitter-square fa-2x icon"></i>
	    </a>
	  </li>
	  <li>
	    <a href="https://www.instagram.com/{{ site.instagram_username }}/">
	      <i class="fab fa-instagram fa-2x icon"></i>
	    </a>
	  </li>
	  <li>
	    <a href="https://{{ site.tumblr_username }}.tumblr.com">
	      <i class="fab fa-tumblr-square fa-2x icon"></i>
	    </a>
	  </li>
	</ul>
	</section>
	<section class="white">
		<h3>
			<img src="/assets/images/gender-spaces-logo.png" class="footerlogo" />
		</h3>
		<p>
			<em>{{ site.title }}</em> is part of the <a href="http://genderspaces.org.uk">Gender Spaces UK</a> project.
		</p>
	</section>
</footer>