<footer>
	<h3>Follow us!</h3>
	<ul class="sociallinks"> 
		{% if site.facebook_username %}
	  <li>
	    <a href="http://www.facebook.com/{{ site.facebook_username }}">
	      <i class="fab fa-facebook fa-2x icon"></i>
	    </a>
		</li>
		{% endif %}
		{% if site.twitter_username %}
	  <li>
	    <a href="http://www.twitter.com/{{ site.twitter_username }}">
	      <i class="fab fa-twitter-square fa-2x icon"></i>
	    </a>
		</li>
		{% endif %}
		{% if site.instagram_username %}
	  <li>
	    <a href="https://www.instagram.com/{{ site.instagram_username }}/">
	      <i class="fab fa-instagram fa-2x icon"></i>
	    </a>
		</li>
		{% endif %}
		{% if site.tumblr_username %}
	  <li>
	    <a href="https://{{ site.tumblr_username }}.tumblr.com">
	      <i class="fab fa-tumblr-square fa-2x icon"></i>
	    </a>
		</li>
		{% endif %}
	</ul>
		<p>
			<em>{{ site.title }} {{ site.location }}</em> is part of the <a href="http://genderspaces.org.uk">Gender Spaces UK</a> project.
		</p>
</footer>