---
---

// Colours
$themeColour = {{ site.theme_colour }}
$themeColourLight = {{ site.theme_colour_light }}

// Fonts
@font-face 
    font-family: 'clarikageo-medium'
    src: url('clarikageo-medium-webfont.woff2') format('woff2'),
         url('clarikageo-medium-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'clarikageo-medium-it'
    src: url('clarikageo-medium-it-webfont.woff2') format('woff2'),
         url('clarikageo-medium-it-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

body
	font-size: 18px
	font-family: 'Clarika Geometric Medium', 'Helvetica Neue', Arial, sans
	font-weight: 300
	line-height: 1.5
	margin: 0
	width: 100%

a, a:visited, a:hover
	color: $themeColour

h1, h2
  margin: 0

h2
	font-style: italic

header, section, footer
  margin: 0
  padding: 1rem

h1, h2, h3, p, ul, div, .iconlist, .inclusivity
  max-width: 48rem

@media screen and (min-width: 740px)
	header, section, footer
		padding: 2rem 4rem

@import "assets/css/header.styl"
@import "assets/css/page.styl"
@import "assets/css/footer.styl"
@import "assets/css/icons.styl"