---
---

// Colours
$theme1 = {{ site.theme_colour1 }}
$theme2 = {{ site.theme_colour2 }}

BODY
{
	font-size: 18px;
	font-family: Roboto Condensed, Helvetica Neue, Arial, sans;
	font-weight: 300;
	line-height: 1.5;
	margin: 0;
	width: 100%;
}

section
{
	padding-top: 2em;
	padding-bottom: 2em;
}

em
{
	font-weight: bold;
	font-style: normal;
}

p, h1, h2, h3, img, ul, ol
{
	max-width: 40rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.small
{
	font-size: 1.25rem;
	padding: 1rem;
    background: rgba(255,255,255,0.5);
    max-width: 20rem;
    margin: 2rem 0 0 0;
}

.small li 
{
    padding: 0;
    margin-left: 0;
    list-style-type: none;
}

.hidden
{
	display: none;
}

.button
{
	border: 2px solid $theme1;
    padding: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: $theme2;
    display: inline-block;
}

li
{
	margin-left: 2rem;
}

h1
{
	font-size: 3rem;
	font-weight: 300;
}

h1 A 
{
	background-image: url('/assets/images/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0;
	height: 4rem;
	width: 18rem;
	display: block;
}

h1 A span
{
	display: none;
}

h2
{
	font-weight: 300;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-size: 48px;
}

p, h3
{
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

h3
{
	display: flex;
	align-items: center; /* Vertically centre text next to icons */
}

.icon
{	
	margin-right: 0.5rem;
	font-style: normal;
}

/* Coloured section styling */

.black
{
	background-color: black;
	color: white;
}

.black a
{
	color: $theme2;
}

.white
{
	background-color: white;
	color: black;				
}

.dark
{
	color: white;
	background-color: #444;
}

.dark a
{
	color: white;
}

.highlight
{
	background: $theme1; /* Old browsers */
	background: -moz-linear-gradient(-25deg, $theme1 0%, $theme2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-25deg, $theme1 0%, $theme2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(155deg, $theme1 0%, $theme2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: black;
}

.highlight a
{
	color: black;
}

.highlight em
{
	color: white;
}

/* Footer */

.sociallinks
{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.sociallinks li
{
	list-style-type: none;
	margin: 0 .5rem 0 0;
}

.footerlogo
{
	height: 3rem;
	padding: 0;
	margin: 0;
	margin-bottom: .25rem;
}

/* Event details page */
.venuesummary
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 2rem;
	justify-content: flex-start;
	margin-bottom: 0;
	line-height: 1.25;
}

.venuesummary li
{
	list-style-type: none;
	width: 8rem;
	padding: 0;
	margin: 0 1rem 2rem 0;
}

.venuesummary li ul, .venuesummary li p
{
	margin: 0;
	padding: 0;
}

.venuesummary li h3
{
	margin: 0 0 .5rem 0;
	padding: 0;
	line-height: 1;
}

.venuesummary li li
{
	margin: 0;
}

/* Venue details page */

.venue-nav
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	justify-content: space-evenly;
	margin-bottom: 0;
}

.venue-nav a
{
	color: inherit;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	line-height: 1;
}

.venue-nav li
{
	list-style-type: none;
	width: 7rem;
	padding: 0;
	margin: 0;
	background-color: rgba(0,0,0,0.1);
	margin-bottom: 1rem;
}

.venue-nav .icon
{
	margin-right: 0;
	margin-bottom: 1rem;
	background-color: rgba(0,0,0,0.1);
	width: 100%;
	padding: 1rem 0;
}

.venue-nav span
{
	margin-bottom: 1rem;
	padding: 0 .5rem;
}