header
  background-color: black

  a
    display: flex
    flex-direction: column
    line-height: 1
    text-decoration: none

#title
  font-size: 2rem
  color: white
#location
  font-size: 1.5rem
  color: $themeColour

@media screen and (min-width: 740px)
  #title
    font-size: 2.5rem
  #location
    font-size: 2rem