header
  background-color: black
  margin: 0
  padding: 1rem
  a
    display: flex
    flex-direction: column
    line-height: 1;

h1
  margin: 0
  #title
    font-size: 2rem
    color: white
  #location
    font-size: 1.5rem
    color: $themeColour