.iconlist
  padding: 0
  margin-bottom: 0
  line-height: 1.25
  li
    list-style-type: none
    padding: 0
    margin: 0 0 2rem 0
    ul, p, li, h3, h4
      margin: 0
      padding: 0
    .icon
      width: 4rem !important
    img.icon
      width: 3rem !important
      margin-right: 1rem
    li, p
      padding: 0 0 0.5rem 4rem
    h3, h4
      line-height: 1
      display: flex
      align-items: center

.icon
  color:#04A75C !important
  font-style: normal !important
  text-align: center
