---
layout: page
---

<section class="highlight">
	<h2>
    	<em>{{ page.title }}</em>
  	</h2>
</section>

<section class="dark">
	<ul class="venuesummary">
		<li>
			<h3><i class="fas fa-info-circle fa-2x icon"></i><span>What is it?</span></h3>
			<p>{{ page.quick-description }}</p>
		</li>
		<li>
			<h3><i class="fas fa-users fa-2x icon"></i><span>Who it is for</span></h3>
			<ul>
				<li>{{ page.audience }}</li>
			</ul>
		</li>
		<li>
			<h3><i class="fas fa-question-circle fa-2x icon"></i><span>Can I come?</span></h3>
			<ul>
				<li>You need an appointment to come.</li>
				<li><a href="{{ page.contact }}">Email for an appointment</a></li>
			</ul>
		</li>
		<li>
			<h3><i class="fas fa-compass fa-2x icon"></i><span>Where is it?</span></h3>
			<ul>
				<li>{{ page.venue-name }}</li>
				<li><a href="{{ site.baseurl}}/venue/{{ page.venue-page }}">More info</a></li>
				<li><a href="#{{ page.venue-postcode }}">View map</a></li>
			</ul>
		</li>
		<li>
			<h3><i class="fas fa-clock fa-2x icon"></i><span>When is it?</span></h3>
			<ul>
				<li>{{ page.day }}</li>
				<li>{{ page.time }}</li>
				<li>{{ page.frequency }}</li>
			</ul>
		</li>
		<li>
			<h3><i class="fa-2x icon">£</i><span>Cost</span></h3>
			{% if page.free %}
			<p>Free</p>
			{% else %}
			<p>{{ page.cost }}</p>
			{% endif %}
		</li>
		<li>
			<h3><i class="fas fa-exclamation-circle fa-2x icon"></i><span>Rules</span></h3>
			<ul>
				<li>You need to follow some rules at this event.</li>
				<li><a href="#rules">More info</a></li>
			</ul>
		</li>
		<li>
			<h3><i class="fas fa-envelope-open fa-2x icon"></i><span>Contact</span></h3>
			<ul>
				<li>Got more questions?</li>
				<li><a href="{{ page.contact }}">Email for help</a></li>
			</ul>
		</li>
	</ul>
</section>
<section>
{{ content }}
</section>
<section class="dark">
<h3>Rules</h3>
<p>Icon grid for rules for the space would go here when the icons are designed.</p>
</section>
<section class="black">
<h3>More information</h3>
<p>Got any worries or concerns about attending? We'd love to answer any of your questions we can - please <a href="#">get in touch</a>.</p>
</section>