---
layout: page
---

<section>
	<ul class="iconlist">
		<li>
			<h3><i class="fas fa-info-circle fa-2x icon"></i><span>What is it?</span></h3>
			{{ page.quick-description | markdownify }}
		</li>
		<li>
			<h3><i class="fas fa-users fa-2x icon"></i><span>Who is it for?</span></h3>
			{{ page.audience | markdownify }}
		</li>
		<li>
			<h3><i class="fas fa-question-circle fa-2x icon"></i><span>Can I come?</span></h3>

			{% if page.appointment-only %}
				<p>You need an appointment to come.</li>
				<p>Please <a href="{{ page.contact }}">email for an appointment</a></li>
			{% else %}
				<p>Anyone can attend - feel free to just turn up!</p>
			{% endif %}

		</li>
		<li>
			<h3><i class="fas fa-compass fa-2x icon"></i><span>Where is it?</span></h3>
			{% for venue in site.venues %}
				{% if venue.url == page.venue-page %}
					<p>{{ venue.title }}</p>
					<p><a href="{{ site.baseurl}}{{ venue.url }}">More information about the venue</a></p>
					<p><a href="{{ venue.map }}">View a map</a></p>
				{% endif %}
			{% endfor %}
		</li>
		<li>
			<h3><i class="fas fa-clock fa-2x icon"></i><span>When is it?</span></h3>
			<p>{{ page.day }}</p>
			<p>{{ page.time-start }} - {{ page.time-end }}</p>
			<p>{{ page.frequency }}</p>
		</li>
		<li>
			<h3><i class="fas fa-pound-sign fa-2x icon"></i><span>Cost</span></h3>
			{% if page.free %}
			<p>Free</p>
			{% else %}
				{{ page.cost | markdownify }}
			{% endif %}
		</li>
		<li>
			<h3><i class="fas fa-exclamation-circle fa-2x icon"></i><span>Rules</span></h3>
			<p>You need to follow some rules at this event.</p>
			<p><a href="#rules">More info</a></p>
		</li>
		<li>
			<h3><i class="fas fa-envelope-open fa-2x icon"></i><span>Contact</span></h3>
			<p>Got more questions?</p>
			<p><a href="{{ page.contact }}">Email for help</a></p>
		</li>
	</ul>

{% include inclusivity.html %}

{{ content }}

{% include rules.html %}

<h3>More information</h3>
<p>Got any worries or concerns about attending? We'd love to answer any of your questions we can - please <a href="#">get in touch</a>.</p>
</section>